@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 89%;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #5A0402;
}
.wrapper .top header .header-block .header-left {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-left .site-title {
  margin: 0 auto;
  margin-left: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  text-decoration: none;
  color: #5A0402;
  text-align: left;
}
.wrapper .top header .header-block .header-left .site-title:hover {
  color: #c0271e;
}
.wrapper .top header .header-block .header-center {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-center .menu-block {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-center .menu-block .menu-item {
  margin: 0;
  margin-right: 50px;
  font-size: 28px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  text-decoration: none;
  color: #453B3A;
  text-align: center;
}
.wrapper .top header .header-block .header-center .menu-block .last {
  margin-right: 0;
}
.wrapper .top header .header-block .header-center .menu-block .menu-item:hover {
  color: #c0271e;
}
.wrapper .top header .header-block .header-right {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-right .service-block {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-block .header-right .service-block .service-item {
  margin: 0;
  margin-right: 30px;
  width: 36px;
  height: 36px;
}
.wrapper .top header .header-block .header-right .service-block .last {
  margin-right: 0;
}
.wrapper .top header .header-block .header-right .service-block .service-item:hover svg path {
  fill: #c0271e;
}
.wrapper .top main {
  margin: 0;
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .greeting-block {
  margin: 0 auto;
  width: 89%;
  height: 25vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .greeting-block .title-link-block {
  margin: auto;
  margin-top: 60px;
  width: 25%;
}
.wrapper .top main .greeting-block .title-link-block .title-link {
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  color: #5A0402;
  text-decoration: none;
}
.wrapper .top main .greeting-block .title-link-block .title-link:hover {
  color: #c0271e;
}
.wrapper .top main .greeting-block .greeting-text-block {
  margin: auto;
  margin-top: 60px;
  width: 50%;
}
.wrapper .top main .greeting-block .greeting-text-block .greeting-text {
  white-space: pre-line;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #453B3A;
}
.wrapper .top main .greeting-block .resource-link-block {
  margin: auto;
  margin-top: 60px;
  width: 25%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top main .greeting-block .resource-link-block .resource-link {
  border-bottom: 3px solid #453B3A;
}
.wrapper .top main .greeting-block .resource-link-block .resource-link:hover {
  border-color: #c0271e;
}
.wrapper .top main .collage-block {
  margin: 0 auto;
  width: 89%;
  height: 50vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .collage-block .collage-img {
  margin: 0 auto;
  height: 100%;
}
.wrapper .top main .news-block {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 89%;
  height: auto;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .news-block .title-link-block {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
}
.wrapper .top main .news-block .title-link-block .title-link {
  font-size: 30px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  color: #5A0402;
  text-decoration: none;
}
.wrapper .top main .news-block .title-link-block .title-link:hover {
  color: #c0271e;
}
.wrapper .top main .news-block .new-images-block {
  margin: 60px auto;
  width: 83%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .news-block .new-images-block .new-image-card {
  margin: auto;
  height: 40vh;
  width: 23%;
  border: 1px solid #d2d0cf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: -2px -4px 4px rgba(69, 59, 58, 0.15), 2px 0 4px rgba(69, 59, 58, 0.15);
}
.wrapper .top main .news-block .new-images-block .new-image-card .new-image-card-block {
  margin: 0 auto;
  width: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .news-block .new-images-block .new-image-card .new-image-card-block .image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper footer {
  margin: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #d2d0cf;
  position: relative;
}
.wrapper footer .btn-up-block {
  position: absolute;
  top: -100%;
  left: 93vw;
  z-index: 9999;
}
.wrapper footer .btn-up-block:hover svg path {
  fill: #837E7B;
}
.wrapper footer .footer-block {
  margin: 0 auto;
  width: 89%;
  height: 15vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-block .footer-left {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-left .footer-left-block {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-block .footer-left .footer-left-block .title-block {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-block .footer-left .footer-left-block .title-block .send-title {
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  color: #453B3A;
  text-align: left;
}
.wrapper footer .footer-block .footer-left .footer-left-block .title-block .copyrights {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  color: #453B3A;
  text-align: left;
}
.wrapper footer .footer-block .footer-center {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-center .footer-center-block {
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-center .footer-center-block .message-footer {
  width: 80%;
  height: 70%;
  border: 1px solid #f7f3ef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  resize: vertical;
  min-height: 70%;
  max-height: 100%;
  overflow-y: auto;
}
.wrapper footer .footer-block .footer-center .footer-center-block .message-footer::-moz-placeholder {
  padding: 10px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  color: #837E7B;
}
.wrapper footer .footer-block .footer-center .footer-center-block .message-footer::placeholder {
  padding: 10px 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  color: #837E7B;
}
.wrapper footer .footer-block .footer-center .footer-center-block .btn-send-footer {
  width: 20%;
  height: 70%;
  background-color: #b5b0a1;
  border: 1px solid #b5b0a1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
  color: #453B3A;
  cursor: pointer;
}
.wrapper footer .footer-block .footer-center .footer-center-block .btn-send-footer:hover {
  background-color: #8a8a8b;
  border: 1px solid #8a8a8b;
  color: #f7f3ef;
}
.wrapper footer .footer-block .footer-right {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-right .footer-right-block {
  margin: 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
}
.wrapper footer .footer-block .footer-right .footer-right-block .socials-block {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-block .footer-right .footer-right-block .socials-block .social-icon {
  width: 36px;
  height: 36px;
}
.wrapper footer .footer-block .footer-right .footer-right-block .socials-block .social-icon:hover svg path {
  fill: #c0271e;
}
.wrapper footer .footer-block .footer-right .footer-right-block .signature-block {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-block .footer-right .footer-right-block .signature-block .signature {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: left;
}/*# sourceMappingURL=main.css.map */