@use "../../../vars/vars.scss" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0;
  width: $site-width;
  height: auto;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;
    header-admin {
      margin: 0;
      width: $header-width;
      height: $header-height;
      @include flex-vertical();
      //border: 1px solid red;
      background-color: $color-white;
      position: sticky;
      top: 0;
      z-index: 9999;
      .header-block-admin {
        margin: 0 auto;
        width: 100%;  // $block-width;
        height: $header-height;
        //background-color: yellow;
        @include flex-horizontal();
        justify-content: space-between;
        border-bottom: 1px solid $color-blue;
        //border-image: linear-gradient(to left, transparent 2%, $color-brown) 1;
        .header-left-admin {
          margin: 0 auto;
          width: $header-left-width;
          height: 100%;
          //border: 1px solid green;
          //border-right: 1px solid $color-blue;
          background-color: $color-back-1;
          @include flex-vertical();
          .site-title-admin {
            margin: 0 auto;
            //margin-left: 0;
            @include text-font(26px, 400, auto, 0);
            text-decoration: none;
            color: $color-blue;
            text-align: center; // left;
          }
          .site-title:hover {
            color: $color-red;
          }
        }
        .header-center-admin {
          margin: 0 auto;
          width: $header-center-width;
          height: 100%;
          //border: 1px solid green;
          @include flex-vertical();
          .menu-block {
            margin: 0 auto;
            width: 100%;  
            @include flex-horizontal();
            //justify-content: space-around;
            .menu-item-admin {
              margin: 0;  
              margin-right: 50px;
              @include text-font(24px, 400, auto, 0);
              text-decoration: none;
              color: $color-grey-dark;
              text-align: center;
            }
            .admin {
              @include text-font(24px, 400, auto, 0);
            }
            .last {
              margin-right: 0;
            }
            .menu-item-admin:hover {
              color: $color-blue-light;
            }
          }
        }
        .header-right {
          margin: 0 auto;
          width: $header-right-width;
          height: 100%;
          //border: 1px solid green;
          @include flex-vertical();
          .service-block {
            margin: 0 auto;
            width: 100%;              
            @include flex-horizontal();
            justify-content: flex-end;            
            .service-item-admin {
              margin: 0;
              margin-right: 30px;
              width: fit-content; // 36px;
              height: fit-content;  // 36px;
              //border: 1px solid blue;
              .sign-out-link {
                //text-decoration: none;
                @include text-font(20px, 400, auto, 0);
                color: $color-blue;                
              }              
              .sign-out-link:hover {
                color: $color-blue-light;
              }              
            }


            // .last {
            //   margin-right: 0;
            // }
            // .service-item:hover {
            //   svg path {
            //     fill: $color-red;
            //   }
            // }
          }
        }
      }
    }
    main-admin {
      margin: 0;
      width: $site-width;
      height: 100vh - $header-height - $footer-height-admin;
      @include flex-vertical();
      //border: 1px solid green;
      .main-block {
        margin: 0 auto;
        width: 100%;
        height: inherit;
        @include flex-horizontal();
        justify-content: space-between;
        .sidebar {
          margin: 0 auto;
          width: $header-left-width;
          height: 100%;
          @include flex-vertical();
          justify-content: flex-start;
          background-color: $color-back-1;
          //border-right: 1px solid $color-blue;
          .sidebar-menu-block {
            margin: auto;
            //margin-left: auto;
            width: 87%;
            height: 90%;  // auto;
            overflow-y: auto;
            @include flex-vertical();
            justify-content: flex-start;
            .sidebar-menu-box {
              margin: 0 auto;
              margin-bottom: 20px;
              width: 100%;
              height: fit-content;
              @include flex-horizontal();
              justify-content: flex-start;
              .menu-icon {
                width: 20px;
                height: 20px;
              }
              .btn-menu-item {
                margin: 0 auto;
                margin-left: 0;
                padding: 0 20px;
                text-decoration: none;
                @include text-font(18px, 500, auto, 0);
                color: $color-blue;
                text-transform: uppercase;
              }
              .active {
                color: $color-red;
              }
            }
            .sidebar-menu-box:hover {
              .btn-menu-item {
                color: $color-blue-light;                  
              }
            }
            .sidebar-menu-box:hover {
              .menu-icon path {
                stroke: $color-blue-light;
              }
            }
          }
        }
        .admin-content {
          margin: 0 auto;
          width: 100% - $header-left-width;
          height: 100%; // inherit;
          @include flex-vertical();
          justify-content: space-between;
          overflow-y: auto;
          background-color: $color-white;
        }
      }
    }
  }
  footer-admin {
    margin: 0;
    width: $footer-width;
    height: $footer-height-admin;
    @include flex-vertical();
    background-color: $color-back-2;
    position: relative;
    // .btn-up-block {
    //   position: absolute;
    //   top: -100%; 
    //   left: 93vw; 
    //   z-index: 9999;
    // }
    // .btn-up-block:hover {
    //   svg path {
    //     fill: $color-grey-light;
    //   }
    // }
    .footer-block-admin {
      margin: 0 auto;
      width: 100%;  // $block-width;
      height: $footer-height-admin;
      //background-color: orange;
      @include flex-horizontal();
      justify-content: space-between;
      .footer-left {
        margin: 0 auto;
        width: $footer-left-width;
        height: 100%;
        //border: 1px solid green;
        @include flex-vertical();
        .footer-left-block {
          height: 70%;
          @include flex-vertical();
          justify-content: space-between;
          .title-block-admin {
            margin: auto; // 0 auto;
            width: 100%;
            height: auto;
            @include flex-vertical();
            //justify-content: flex-start;
            // .send-title {
            //   @include text-font(20px, 400, auto, 0);
            //   color: $color-grey-dark;
            //   text-align: left;
            // }
            .copyrights {
              @include text-font(14px, 400, auto, 0);
              color: $color-grey-dark;
              text-align: center; // left;
            }
          }          
        }
      }
      .footer-center {
        margin: 0 auto;
        width: $footer-center-width;
        height: 100%;
        //border: 1px solid green;
        @include flex-vertical();
        .footer-center-block {
          height: 70%;
          @include flex-horizontal();
          // .message-footer {
          //   width: 80%;
          //   height: 70%;
          //   border: 1px solid $color-back-1;
          //   //border-radius: 5px;
          //   border-top-left-radius: 5px;
          //   border-bottom-left-radius: 5px;
          //   outline: none;
          //   resize: vertical;
          //   min-height: 70%;
          //   max-height: 100%;
          //   overflow-y: auto;
          // }
          // .message-footer::placeholder {
          //   padding: 10px 0 0 10px;
          //   @include text-font(14px, 300, auto, 0);
          //   color: $color-grey-light;
          // }
          // .btn-send-footer {
          //   width: 20%;
          //   height: 70%;
          //   background-color: $color-back-3;
          //   border: 1px solid $color-back-3;
          //   border-top-right-radius: 5px;
          //   border-bottom-right-radius: 5px;
          //   outline: none;
          //   @include text-font(18px, 400, auto,0);
          //   color: $color-grey-dark;
          //   cursor: pointer;
          // }
          // .btn-send-footer:hover {
          //   background-color: $color-back-4;
          //   border: 1px solid $color-back-4;
          //   color: $color-back-1;
          // }
        }
      }
      .footer-right {
        margin: 0 auto;
        width: $footer-right-width;
        height: 100%;
        //border: 1px solid green;
        @include flex-vertical();
        .footer-right-block {
          margin: 0 auto;
          width: 100%;
          height: 70%;  
          @include flex-horizontal();
          justify-content: space-around;  
          .socials-block {
            margin: 0 auto;
            width: 70%; 
            @include flex-horizontal();
            justify-content: flex-end;  
            .social-icon {
              width: 36px;
              height: 36px;
            }
            .social-icon:hover {
              svg path {
                fill: $color-blue-light;
              }
            }
          }
          // .signature-block {
          //   margin: 0 auto;
          //   width: 30%; 
          //   height: 100%;
          //   @include flex-horizontal();
          //   justify-content: flex-end;
          //   .signature {
          //     width: auto;  
          //     height: 100%; 
          //     object-fit: contain;
          //     @include flex-horizontal();
          //     justify-content: left;
          //   }
          // }
        }
      }
    }
  }
}
